option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: catalogo/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: catalogo.settings
    DJANGO_DEBUG: False
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
    /media: media

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  03_create_media_dir:
    command: "mkdir -p media/produtos"
  04_permissao_arquivo_sqlite:
    command: "chmod 666 db.sqlite3"
  05_permissao_pasta_sqlite:
    command: "chmod 777 ."
  06_criacao_admin:
    command: |
      source /var/app/venv/*/bin/activate
      echo "
      from django.contrib.auth import get_user_model
      User = get_user_model()
      if not User.objects.filter(username='admin').exists():
      User.objects.create_superuser('admin', 'admin@email.com', '123456')
      " | python manage.py shell
      leader_only: true