option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: catalogo/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: catalogo.settings
    DJANGO_DEBUG: "False"
    DJANGO_ALLOWED_HOSTS: ".elasticbeanstalk.com,localhost"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  03_criar_superusuario:
    command: |
      python manage.py shell -c "
      from django.contrib.auth import get_user_model
      User = get_user_model()
      if not User.objects.filter(username='root').exists():
          User.objects.create_superuser('root', 'root@example.com', 'root1234')
      "
    leader_only: true