option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: catalogo/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: catalogo.settings
    DJANGO_DEBUG: "False"
    DJANGO_ALLOWED_HOSTS: ".elasticbeanstalk.com,localhost"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  03_createsuperuser:
    command: |
      source /var/app/venv/*/bin/activate
      python manage.py shell -c "
      import os
      from django.contrib.auth import get_user_model
      User = get_user_model()
      username = os.environ.get('DJANGO_SUPERUSER_USERNAME', 'root')
      email = os.environ.get('DJANGO_SUPERUSER_EMAIL', 'root@example.com')
      password = os.environ.get('DJANGO_SUPERUSER_PASSWORD', 'root1234')
      if not User.objects.filter(username=username).exists():
          User.objects.create_superuser(username, email, password)
          print('Superusuario', username, 'criado.')
      else:
          print('Superusuario', username, 'ja existe.')
      "
    leader_only: true